body {
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.jumbotron {
    text-align: center;
    height: 40px;
}

.display-4 {
    font

}

.card {
    margin-top: 10px;
}

.records {
    height: 50px;
}